<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		title test
	body
		-for(var x = 0; x < note.length; x++)
			div(id='#{note[x].guid}')
				h1 #{note[x].title}
				img(src='#{note[x].thumbnail}')
				span #{note[x].created}
			
	
			